footer {
    background-color: #99bde0;
    color: #ffffff;
  }
  footer * {
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
    border: none;
    outline: none;
  }
  .row {
    padding: 1em 0.5em;
  }
  .row.primary {
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    align-items: stretch;
  }
  .column {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 2em;
    min-height: 15em;
  }
  .footer-h3 {
    width: 100%;
    text-align: left;
    color: #2a8ded;
    font-size: 1.6em;
    white-space: nowrap;
  }
  .footer-ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
  }
  .footer-li:not(:first-child) {
    margin-top: 0.8em;
  }
  .footer-ul .footer-li a {
    color: #ffffff;
    text-decoration: none;
  }
  .footer-ul .footer-li a:hover {
    color: #2a8ded;
  }
  .about p {
    text-align: justify;
    line-height: 2;
    margin: 0;
  }
  .footer-p{
    font-size: small;
  }
  input {
    font-size: 1em;
    padding: 1em;
    width: 100%;
    border-radius: 5px;
    margin-bottom: 5px;
  }
  .footer-btn {
    background-color: #2a8ded;
    color: #ffffff;
    font-size: 1em;
    padding: 1em;
    width: 100%;
    border-radius: 5px;
    margin-bottom: 5px;
  }
  .footer-btn:hover{
    background-color: #469aee;
  }
  div.social {
    display: flex;
    justify-content: space-around;
    font-size: 2.4em;
    flex-direction: row;
    margin-top: 0.5em;
  }
  .social i:hover {
    color: #2a8ded;
  }
  .row.secondary {
    display: flex;
    justify-content: space-around;
    text-align: center;
  }
  .row.secondary i {
    font-size: 1.8em;
    color: #2a8ded;
  }
  .row.secondary div {
    padding: 1em 0;
    width: 100%;
  }
  .row.secondary div:hover {
    background-color: #b3d4f4;
  }
  .footer-tel,
  .mail{
    color: #ffffff;
    text-decoration: none;
  }
  @media screen and (max-width: 850px) {
    .row.primary {
      grid-template-columns: 1fr;
    }
    .row.secondary {
      flex-direction: column;
    }
  }